{% extends 'base.html' %}

{% block meta %}
    <title>Add New Coffee</title>
{% endblock meta %}

{% block content %}
<style>
    .navbar {
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 50px;
        margin-bottom: 40px;
    }

    .navbar-brand img {
        width: 80px; 
        height: 80px;
        margin-right: 10px; 
    }

    .navbar-brand {
        font-size: 60px;
        font-family: "EB Garamond", serif;
        color: #ffffff;
        text-align: center;
        padding-top: 10px;
    }

    .navbar-brand:hover {
        color: #ffffff;
    }

    .btn-primary {
        background-color: green;
        border-color: darkgreen;
        margin-bottom: 15px;
    }

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background-color: darkgreen;
        border-color: darkgreen;
    }

    .btn-secondary {
        background-color: black;
        margin-bottom: 15px;
    }

    .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
        background-color: #2b2a2a;
    }

    .card-header {
        text-align: center;
    }

</style>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/S4xLOxr.png" alt="Logo" class="d-inline-block align-text-top">
                Coffeeine.
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h1>Add Your New Coffee</h1></div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <table class="table">
                                {{ form.as_table }}
                                <tr>
                                    <td></td>
                                    <td>
                                        <input class="btn btn-primary" type="submit" value="Add Coffee">
                                        <a class="btn btn-secondary" href="{% url 'main:show_main' %}">Cancel</a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}