{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    .navbar {
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 50px;
        margin-bottom: 40px;
    }

    .navbar-brand img {
        width: 80px; 
        height: 80px;
        margin-right: 10px; 
    }

    .navbar-brand {
        font-size: 60px;
        font-family: "EB Garamond", serif;
        color: #ffffff;
        text-align: center;
        padding-top: 10px;
    }

    .navbar-brand:hover {
        color: #ffffff;
    }

    .btn-primary {
        background-color: green;
        margin-bottom: 15px;
    }

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background-color: darkgreen;
        border-color: darkgreen;
    }

    p {
        margin-top: 10px;
    }

</style>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/S4xLOxr.png" alt="Logo" class="d-inline-block align-text-top">
                Coffeeine.
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label for="username">Username:</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">Password:</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group text-center">
                                <input class="btn btn-primary" type="submit" value="Login">
                            </div>
                        </form>
                        {% if messages %}
                            <ul class="list-group">
                                {% for message in messages %}
                                    <li class="list-group-item">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <p>Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}