{% extends 'base.html' %}

{% block content %}
    <h1>Coffeeine Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    {% with total_items=items|length %}
        <p>Anda menyimpan {{ total_items }} jenis kopi pada aplikasi ini</p>
    {% endwith %}

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data item di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{ item.amount }}</td>
            <td><textarea rows="4" cols="40" readonly style="resize: none;">{{ item.description }}</textarea></td>
        </tr>
    {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
</a>

{% endblock content %}